In [1]:
import pandas as pd

In [18]:
years = [str(2000+x) for x in range(13,19)]

In [19]:
cod_df = pd.DataFrame()
for year in years:
    csv_path = f"{year}_Suicide_Data.csv"
    df = pd.read_csv(csv_path, dtype=object)
    cod_df = pd.concat([cod_df, df])
                       
cod_df

,Unnamed: 0,State,State Code,County,County Code,Deaths,Population,Year
0,0,Alabama,1,"Autauga County, AL",1001,11,55246,2013
1,1,Alabama,1,"Baldwin County, AL",1003,37,195540,2013
2,2,Alabama,1,"Calhoun County, AL",1015,19,116736,2013
3,3,Alabama,1,"Cullman County, AL",1043,12,80811,2013
4,4,Alabama,1,"Elmore County, AL",1051,12,80902,2013
...,...,...,...,...,...,...,...,...
1004,1004,Wyoming,56,"Albany County, WY",56001,13,38601,2018
1005,1005,Wyoming,56,"Campbell County, WY",56005,10,46140,2018
1006,1006,Wyoming,56,"Laramie County, WY",56021,34,98976,2018
1007,1007,Wyoming,56,"Natrona County, WY",56025,27,79115,2018
1008,1008,Wyoming,56,"Sweetwater County, WY",56037,10,43051,2018

In [21]:
cod_df.to_csv("Merged_Suicide_Data.csv")